.shows {
    background-color: #808080;
    height: 100%;
}
.shows-list {
    padding-top: 3em;
    display: flex;
        flex-direction: column;
        align-items: center;
}
.list-item {
        transition: box-shadow 150ms linear;
        box-shadow: 0 5px 8px rgba(0,0,0,.28);
        background-color: lightgrey;
        padding: 3em;
        width: 90%;
        border-radius: 3px;
            margin-bottom: 1em;

}