.app {
  height:100%;
}

.app-logo {
    height: 35px;
    margin: -1em 1em 0;
}

.app-header {
  background-color: lightgrey;
  padding: 30px;
  color: white;
}
.tv-shows-searcher {
    display: inline-flex;
        width: 50%;
}
.shows-container {
  height:100% !important;
}

html, body, #app, #app>div {
  height: 100%
}