.app {
  text-align: center;
  height:100%;
}

.app-logo {
    height: 35px;
    margin: -1em 1em 0;
}

.app-header {
  background-color: beige;
  padding: 30px;
  color: white;
}
.tv-shows-searcher {
    display: inline-flex;
}
.shows-container {
  height:100% !important;
}

html, body, #app, #app>div {
  height: 100%
}