.search {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.search input {
    color: gray;
    font: inherit;
    border-color: mediumorchid;
    border-radius: 5px;
    padding-left: 1em;
    width: 18em;
}