.show-info {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.show-info-section {
    width: 50%;
    padding: 3em;
}
.list-item {
    transition: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
}
.vido-image {
    position: relative;
}
.song-img {
    padding-top: 1em;
}
.play-icon {
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: red;
    background-color: white;
    border-radius: 6px;
    padding: 0.3rem;
    cursor: pointer;
}